<!--/row-->

<% include ../header.ejs %>


<% include ../sideBar.ejs %>
<link rel="stylesheet" href="css/fileSkinCSS.css">
<script src="js/Administrateur/profile/profile.js"></script>
<style>
    .image {
        position: relative;
        display: inline-block;
        margin: 0px;
    }

    .overlay {
        display: none;
    }

    .image:hover .overlay {
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .5);
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        text-align: center;
        color: white;
        padding-top: 60%;
        font-size: 20px;
    }

    img {
        vertical-align: top;
    }


    .file-upload {
        display: none;
    }

    #submitUpdatePictureProfile {
        display: none;
    }
    </style>

<script src="js/Administrateur/achat/achat.js"></script>
<link rel="stylesheet" href="css/fileSkinCSS.css">

<div class="main-panel">

    <div class="content-wrapper">
        <div class="content-wrapper" id="pages_breadcrumb">
            <div class="card">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                        <li class="breadcrumb-item active">Profile</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-12 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <hr>
                        <div class="container bootstrap snippet">
                            <div class="row">
                                <div class="col-md-3" style="padding-top:5%">
                                    <div class="text-center">
                                        <div class="image">
                                            <img style="
                                            object-fit: cover;
                                            width: 100%;
                                            height: 220px; " id="profilePicture"
                                                class="avatar img-circle img-thumbnail" alt="avatar">
                                            <div class="overlay" id="imageButton"><i class="fas fa-camera"></i>Mettre à
                                                jour</div>
                                            <input id="pictureFile" name="pictureFile" class="file-upload" type="file"
                                                accept="image/*" />
                                        </div>
                                    </div>

                                    </hr><br>



                                    <ul class="list-group">
                                        <li class="list-group-item text-muted">Activity <i
                                                class="fa fa-dashboard fa-1x"></i>
                                        </li>
                                        <li class="list-group-item text-right"><span
                                                class="pull-left"><strong>Shares</strong></span> 125</li>
                                        <li class="list-group-item text-right"><span
                                                class="pull-left"><strong>Likes</strong></span> 13</li>
                                        <li class="list-group-item text-right"><span
                                                class="pull-left"><strong>Posts</strong></span> 37</li>
                                        <li class="list-group-item text-right"><span
                                                class="pull-left"><strong>Followers</strong></span> 78</li>
                                    </ul>


                                </div>
                                <!--/col-3-->
                                <div class="col-md-9">



                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="card">
                                                    <div class="card-body"
                                                        style="padding-left: 0px;padding-right: 0px;">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <h4>Your Profile</h4>
                                                                <hr>
                                                            </div>
                                                        </div>
                                                        <div class="row">

                                                            <div class="col-md-12">
                                                                <div class="form-group row">
                                                                    <label for="nom"
                                                                        class="col-md-4 col-form-label">Nom</label>
                                                                    <div class="col-md-8">
                                                                        <input id="nom" name="nom" placeholder="Nom"
                                                                            class="form-control here" type="text">
                                                                        <div id="nomWarning" class="invalid-feedback">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label for="prenom"
                                                                        class="col-md-4  col-form-label">Prenom</label>
                                                                    <div class="col-md-8">
                                                                        <input id="prenom" name="prenom"
                                                                            placeholder="Prenom"
                                                                            class="form-control here" type="text">
                                                                        <div id="prenomWarning"
                                                                            class="invalid-feedback">
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label for="email"
                                                                        class="col-md-4  col-form-label">Email*</label>
                                                                    <div class="col-md-8">
                                                                        <input id="email" name="email"
                                                                            placeholder="Email"
                                                                            class="form-control here"
                                                                            required="required" type="email" readonly>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label for="numTlp"
                                                                        class="col-md-4  col-form-label">numero
                                                                        téléphone</label>
                                                                    <div class="col-md-8">
                                                                        <input id="numTel" name="numTel"
                                                                            placeholder="numéro téléphone"
                                                                            class="form-control here" type="text">
                                                                        <div id="numTelWarning"
                                                                            class="invalid-feedback">
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label for="adresse"
                                                                        class="col-md-4  col-form-label">Adresse</label>
                                                                    <div class="col-md-8">
                                                                        <textarea id="adresse" name="adresse" cols="40"
                                                                            rows="4" class="form-control"></textarea>
                                                                        <div id="adresseWarning"
                                                                            class="invalid-feedback">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row d-flex justify-content-end">
                                                                    <div class="">
                                                                        <button name="submitProfileUtilisateur"
                                                                            type="button" id="submitProfileUtilisateur"
                                                                            class="btn btn-primary">Enregistrer</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="card-body"
                                                        style="padding-left: 0px;padding-right: 0px;">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <h4>Changer Mot de passe</h4>
                                                                <p>Nous vous conseillons d’utiliser un mot de passe
                                                                    sûr
                                                                    que vous n’utilisez nulle part ailleurs</p>
                                                                <hr>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-group row">
                                                                    <label for="username"
                                                                        class="col-md-4  col-form-label">Actuel</label>
                                                                    <div class="col-md-8">
                                                                        <input id="oldPassword" name="oldPassword"
                                                                            class="form-control " required="required"
                                                                            type="password">
                                                                        <div id="oldPasswordWarning"
                                                                            class="invalid-feedback">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label for="name"
                                                                        class="col-md-4  col-form-label">Nouveau</label>
                                                                    <div class="col-md-8">
                                                                        <input id="newPassword" name="newPassword"
                                                                            class="form-control " type="password">
                                                                        <div id="newPasswordWarning"
                                                                            class="invalid-feedback">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label for="lastname"
                                                                        class="col-md-4  col-form-label">Confirmer</label>
                                                                    <div class="col-md-8">
                                                                        <input id="confirmePassword"
                                                                            name="confirmePasword" class="form-control"
                                                                            type="password">
                                                                        <div id="confirmePasswordWarning"
                                                                            class="invalid-feedback"></div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row d-flex justify-content-end"">
                                                                    <div >
                                                                        <button name=" submitPasswordUtilisateur"
                                                                    type="button" id="submitPasswordUtilisateur"
                                                                    class="btn btn-primary">Enregistrer les
                                                                    modifications</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--/tab-pane-->
                            </div>
                            <!--/tab-content-->

                        </div>
                        <!--/col-9-->
                    </div>
                </div>
            </div>

        </div>

        <div class="modal" id="modalNewPicture">
            <div class="modal-dialog modal-dialog-centered">
                <!-- Modal body -->

                <div class="modal-content  ">

                    <div class="containter d-flex justify-content-center">
                        <img id="newImage" src="images/profilePicture/profil.png" style="height: auto;"
                            class="avatar img-circle img-thumbnail" alt="avatar">
                    </div>


                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light" data-dismiss="modal">Annuler</button>
                        <button id="saveNewPicture" type="button" class="btn btn-primary"
                            onclick="updatePictureFunction()" data-dismiss="modal">Enregistrer</button>
                    </div>

                </div>
            </div>
        </div>


        <div id="snackbar"> <span class="fa fa-check" style="font-size: x-large;"></span>&nbsp;&nbsp;Succés !
            l'utilisateur est
            bien ajouté.</div>
        <div id="snackbarError"> <span class="fa fa-times" style="font-size: x-large;"></span>&nbsp;&nbsp;Erreur
            !champs vide ou pseudo
            existe déja.</div>
    </div>



</div>

<% include ../footer.ejs %>
