<!--/row-->

<% include ../header.ejs %>
<% include ../sideBar.ejs %>

<script src="js/Administrateur/achat/achat.js"></script>

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-12 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <hr>
                        <div class="container bootstrap snippet">
                            <div class="row">
                                <div class="col-sm-3" style="padding-top:5%">

                                    <div class="text-center">
                                        <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png"
                                            class="avatar img-circle img-thumbnail" alt="avatar">
                                        <h6>Upload a different photo...</h6>
                                        <input type="file" class="text-center center-block file-upload">
                                    </div>
                                    </hr><br>



                                    <ul class="list-group">
                                        <li class="list-group-item text-muted">Activity <i
                                                class="fa fa-dashboard fa-1x"></i></li>
                                        <li class="list-group-item text-right"><span
                                                class="pull-left"><strong>Shares</strong></span> 125</li>
                                        <li class="list-group-item text-right"><span
                                                class="pull-left"><strong>Likes</strong></span> 13</li>
                                        <li class="list-group-item text-right"><span
                                                class="pull-left"><strong>Posts</strong></span> 37</li>
                                        <li class="list-group-item text-right"><span
                                                class="pull-left"><strong>Followers</strong></span> 78</li>
                                    </ul>


                                </div>
                                <!--/col-3-->
                                <div class="col-sm-9">



                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <h4>Your Profile</h4>
                                                                <hr>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <form>
                                                                    <div class="form-group row">
                                                                        <label for="username"
                                                                            class="col-4 col-form-label">Pseudo*</label>
                                                                        <div class="col-8">
                                                                            <input id="username" name="username"
                                                                                placeholder="Username"
                                                                                class="form-control here"
                                                                                required="required" type="text">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group row">
                                                                        <label for="name"
                                                                            class="col-4 col-form-label">Nom</label>
                                                                        <div class="col-8">
                                                                            <input id="name" name="name"
                                                                                placeholder="First Name"
                                                                                class="form-control here" type="text">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group row">
                                                                        <label for="lastname"
                                                                            class="col-4 col-form-label">Prenom</label>
                                                                        <div class="col-8">
                                                                            <input id="lastname" name="lastname"
                                                                                placeholder="Last Name"
                                                                                class="form-control here" type="text">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group row">
                                                                        <label for="email"
                                                                            class="col-4 col-form-label">Email*</label>
                                                                        <div class="col-8">
                                                                            <input id="email" name="email"
                                                                                placeholder="Email"
                                                                                class="form-control here"
                                                                                required="required" type="text">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group row">
                                                                        <label for="numTlp"
                                                                            class="col-4 col-form-label">numero
                                                                            téléphone</label>
                                                                        <div class="col-8">
                                                                            <input id="numTlp" name="numTlp"
                                                                                placeholder="numéro téléphone"
                                                                                class="form-control here" type="text">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group row">
                                                                        <label for="adresse"
                                                                            class="col-4 col-form-label">Adresse</label>
                                                                        <div class="col-8">
                                                                            <textarea id="adresse" name="adresse"
                                                                                cols="40" rows="4"
                                                                                class="form-control"></textarea>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group row">
                                                                        <div class="offset-4 col-8">
                                                                            <button name="submit" type="submit"
                                                                                class="btn btn-primary">Update
                                                                                My Profile</button>
                                                                        </div>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <h4>Changer Mot de passe</h4>
                                                                <hr>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <form>
                                                                    <div class="form-group row">
                                                                        <label for="username"
                                                                            class="col-4 col-form-label">Pseudo*</label>
                                                                        <div class="col-8">
                                                                            <input id="username" name="username"
                                                                                placeholder="Username"
                                                                                class="form-control here"
                                                                                required="required" type="text">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group row">
                                                                        <label for="name"
                                                                            class="col-4 col-form-label">Nom</label>
                                                                        <div class="col-8">
                                                                            <input id="name" name="name"
                                                                                placeholder="First Name"
                                                                                class="form-control here" type="text">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group row">
                                                                        <label for="lastname"
                                                                            class="col-4 col-form-label">Prenom</label>
                                                                        <div class="col-8">
                                                                            <input id="lastname" name="lastname"
                                                                                placeholder="Last Name"
                                                                                class="form-control here" type="text">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group row">
                                                                        <div class="offset-4 col-8">
                                                                            <button name="submit" type="submit"
                                                                                class="btn btn-primary">Update
                                                                                My Profile</button>
                                                                        </div>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/tab-pane-->
                                </div>
                                <!--/tab-content-->

                            </div>
                            <!--/col-9-->
                        </div>
                    </div>
                </div>
            </div>


            <% include ../footer.ejs %>


            <script>
                $(document).ready(function () {


                    var readURL = function (input) {
                        if (input.files && input.files[0]) {
                            var reader = new FileReader();

                            reader.onload = function (e) {
                                $('.avatar').attr('src', e.target.result);
                            }

                            reader.readAsDataURL(input.files[0]);
                        }
                    }


                    $(".file-upload").on('change', function () {
                        readURL(this);
                    });
                });
            </script>