<!-- partial:partials/_footer.html -->
<footer class="footer">

</footer>
<!-- partial -->
</div>
<!-- main-panel ends -->
</div>
<!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->

<!-- plugins:js -->
<script src="vendors/js/vendor.bundle.base.js"></script>
<script src="vendors/js/vendor.bundle.addons.js"></script>
<!-- endinject -->
<!-- Plugin js for this page-->
<!-- End plugin js for this page-->
<!-- inject:js -->
<script src="js/off-canvas.js"></script>
<script src="js/misc.js"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<!-- End custom js for this page-->
<script>
    document.getElementsByClassName("footer");

</script>

<!--Imprimer-->
<script src="js/jquery.dataTables.min.js"></script>
<script src="js/buttons.print.js"></script>
<link rel="stylesheet" href="css/jquery.dataTables.min.css">


<!--Fin Imprimer-->
</body>


</html>