<script src="js/messenger/messenger.js"></script>

<div class="fixed-bottom">
    <!--      debut liste du contacts      -->
    <div class="dropdown col-lg-3 text-center d-flex justify-content-end" style="margin-top: 23.7rem;  ">
        <button style="width: 100%" class="btn btn-primary dropdown-toggle" type="button"
            data-toggle="dropdown">Messenger</button>
        <div style="width: 91%" class="dropdown-menu">
            <div class="text-center list-group-item active">
                La liste des contactes <span class="fa fa-group"></span>
            </div>
            <div style="width: 100%; height: 400px; overflow: auto;" id="contactsListe">
            </div>
            <input class="form-control" id="myInput" type="text" placeholder="Search..">
        </div>
    </div>

    <!--      fin liste du contacts      -->
</div>