<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    Salut {{nom}}<br />
    Cliqué ici pour valider votre compte : <br />
    <b>
        <a href='http://localhost:8083/validerEmail?code=w15sm6148670wru' +{{code}}+ 'f75sm9674503wmf' +
            {{id}}+ '"l62sm12414351wml'>Cliquez ici </a>
    </b>

</body>

</html>